body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/Hintergrund2.jpg');
    background-size: cover;
    background-position: center;
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.form-container {
background-color: rgba(255, 255, 255, 0.5); /* Weiß mit 70% Deckkraft */
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
max-width: 400px;
width: 100%;
text-align: center;
backdrop-filter: blur(5px); /* Weichzeichner-Effekt für den Hintergrund */
border: 1px solid rgba(0, 0, 0, 0.2); /* Halbtransparente Umrandung */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.back-button, .switch-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 500;
}

.back-button:hover, .switch-link:hover {
    background-color: #f4f4f4;
}

.switch-link {
    margin-top: 20px;
}